@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  /* make sure full height is taken */
  @apply w-full h-full fixed;
}

body {
  font-feature-settings: 'lnum' 1;
  font-variant-numeric: lining-nums;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  @apply bg-gray-200 text-gray-900 min-h-full overflow-hidden;
}

.vue-tinder {
  margin: 1rem auto 0;
  /* width: 335px; */
  width: 98vw;
  /* height: 447px; */
  height: 75vh;
  min-width: 300px;
  max-width: 355px;
  position: relative;
}

.nope-pointer,
.like-pointer {
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 64px;
  height: 64px;
  font-size: 2em;
  text-align: center;
}

.nope-pointer {
  right: 10px;
}

.like-pointer {
  left: 10px;
}
